<h1>Top ten today!</h1>

<p><%= @yahoo[0].symbol %></a>
<p><%= @yahoo[1].symbol %></p>
<p><%= @yahoo[2].symbol %></p>
<p><%= @yahoo[3].symbol %></p>
<p><%= @yahoo[4].symbol %></p>
<p><%= @yahoo[5].symbol %></p>
<p><%= @yahoo[6].symbol %></p>
<p><%= @yahoo[7].symbol %></p>
<p><%= @yahoo[8].symbol %></p>
<p><%= @yahoo[9].symbol %></p>