<div class="container">
	<dl>
		<% @stocks.each do |stock| %>
		<div class="stock">
			<div class="page-header">
			<dt><h1><a href="/<%= stock.symbol %>"><%= stock.name %></a></h1></dt>
			</div>
			<dd>Last trade price: <%= stock.last_trade_price_only %></dd>
			<dd>Year low: <%= stock.year_low %></dd>
			<dd>Year high: <%= stock.year_high %></dd>
		</div>

	<% end %>
	</dl>
</div>
