<h1><%= @one_stock[0][:name] %></h1>

<p>Name: <%= @one_stock[0][:symbol] %></p>
<p>Last Trade Price: <%= @one_stock[0][:last_trade_price] %></p>
<p>Volume: <%= @one_stock[0][:volume] %></p>
<p>52-Week Low: <%= @one_stock[0][:low_52_weeks] %></p>
<p>52-Week High: <%= @one_stock[0][:high_52_weeks] %></p>
<p>One Year Target Price: <%= @one_stock[0][:one_year_target_price] %></p>
