
<h1> <%= @stock.symbol %> </h1>

<h3> Last trade price: <%= @stock.last_trade_price %> </h3>
<h3> Open: <%= @stock.open %> </h3>
<h3> High: <%= @stock.high %> </h3>
<h3> Low: <%= @stock.low %> </h3>
<h3> Volume: <%= @stock.volume%> </h3>
<h3> Avg Daily Volume: <%= @stock.average_daily_volume %> </h3>
<h3> Market capitalization: <%= @stock.market_capitalization %> </h3>
<h3> Earnings per share: <%= @stock.earnings_per_share %> </h3>
<h3> Dividends per share: <%= @stock.dividend_per_share %> </h3>
