<h1><%= @data[0].name %></h1>

<ul>
<li>Ask: <%= @data[0].ask %></li>
<li>Bid: <%= @data[0].bid %></li>
<li>Last Trade Date: <%= @data[0].last_trade_date %></li>
<li>Low price: <%= @data[0].low %></li>
<li>High price: <%= @data[0].high %></li>
<li>Low 52 weeks: <%= @data[0].low_52_weeks %></li>
<li>High 52 weeks: <%= @data[0].high_52_weeks %></li>
<li>Percen change from 52 week low: <%= @data[0].percent_change_from_52_week_low %></li>
</ul>
